<div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
      <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">

	<ul class="navbar-nav ml-auto">
		<li class="nav-item dropdown">
              		<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Themes <span class="caret"></span></a>
              		<div class="dropdown-menu" aria-labelledby="themes">
        			{%- for path in page_paths -%}
          			{%- assign my_page = site.pages | where: "path", path | first -%}
          			{%- if my_page.title -%}
          			<li class="nav-item dropitem">
            			<a class="nav-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
          			</li>
          			{%- endif -%}
        			{% endfor -%}
              		</div>
            	</li>
            	<li class="nav-item">
              		<a class="nav-link" href="../help/">Help</a>
            	</li>
            	<li class="nav-item">
              		<a class="nav-link" href="http://blog.bootswatch.com">Blog</a>
            	</li>
	</ul>
          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="http://builtwithbootstrap.com/" target="_blank">Built With Bootstrap</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://wrapbootstrap.com/?ref=bsw" target="_blank">WrapBootstrap</a>
            </li>
          </ul>

        </div>
      </div>
    </div>
